<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
  <link rel="stylesheet" href="contact.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
    crossorigin="anonymous">
  <title>Contact Tiana</title>
</head>

<body>
  <div class='container'>
    <div class='back-image'></div>
    <div class='left'>
      <h1>Tiana Hayden</h1>
      <a class='not-selected' href='/'>Home</a>
      <a class='not-selected' href='/projects'>Projects</a>
      <a class='not-selected' href='resume.pdf' target='_blank'>Resume</a>
      <a class='selected' href='/contact'>Contact</a>
    </div>
    <div class='line'></div>
    <div class='right'>
      <div class='section-1'>
        <h3>Contact Me</h3>
        <div class='form'>
          <form action='/thanks' method='POST'>
            <label for='firstName'>First Name:</label>
            <input id='firstName' name='firstName' type='text'>

            <label for='lastName'>Last Name:</label>
            <input id='lastName' name='lastName' type='text'>

            <label for='email'>Email:</label>
            <input id='email' name='email' type='text'>

            <label for='message'>Message:</label>
            <textarea id='message' name='message' type='text'></textarea>

            <input class='button' type='submit' />
          </form>
        </div>
      </div>
      <div class='icons-footer'>
        <a class='icons' href="https://github.com/tianahayden" target="_blank"><i class="fab fa-github"></i></a>
        <a class='icons' href="https://www.linkedin.com/in/tianahayden/" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</body>

</html>