<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Tiana Hayden Portfolio</title>
</head>

<body>
    <div class='container'>
        <div class='opening'>
            <div class='heading'>
                <h1>Hi I'm Tiana</h1>
                <p>I'm a budding Javascript developer.</p>
                <p>Please hire me.</p>
            </div>
        </div>
        <div class='navbar'>
            <button>Resume</button>
            <button>Projects</button>
            <button>Contact</button>
        </div>
        <div class='section'>
            <div class='image-section-l'>
                <div class='child-section-l'>
                    <img class='image' src="usd.jpg" alt="tiana_graduation">
                    <p>askfjksldfjskldjf</p>
                    <p>askfjksldfjskldjf</p>
                    <p>askfjksldfjskldjf</p>
                    <p>askfjksldfjskldjf</p>
                </div>
            </div>
            <div class='image-section-r'>
                <div class='child-section-r'>
                    <img class='image' src="google.jpg" alt="tiana_google">
                    <p>askfjksldfjskldjf</p>
                    <p>askfjksldfjskldjf</p>
                    <p>askfjksldfjskldjf</p>
                    <p>askfjksldfjskldjf</p>
                </div>
            </div>
            <div>
                <div class='image-section-l'>
                    <div class='child-section-l'>
                        <img class='image' src="origin.jpg" alt="tiana_origin">
                        <p>askfjksldfjskldjf</p>
                        <p>askfjksldfjskldjf</p>
                        <p>askfjksldfjskldjf</p>
                        <p>askfjksldfjskldjf</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>