<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    <title>Tiana Hayden Portfolio</title>
</head>

<body>
    <div class='container'>
        <div class='back-image'></div>
        <div class='left'>
            <h1>Tiana Hayden</h1>
            <a class='selected' href='/'>Home</a>
            <a class='not-selected' href='/projects'>Projects</a>
            <a class='not-selected' href='Resume.pdf' target='_blank'>Resume</a>
            <a class='not-selected' href='/contact'>Contact</a>
        </div>
        <div class='line'></div>
        <div class='right'>
            <div class='section-1'>
                <h3>Coding with the customer in mind.</h3>
                <p>I am a budding Javascript developer located in San Diego, CA.</p>
                <p>With over 6 years of customer support experience, I am able to approach software engineering with a customer-first
                    mindset.</p>
                <p>I am excited about building efficient, scalable technologies that delight users globally.</p>
            </div>
            <div class='section-2'>
                <div class='sub-section'>
                    <h3>Languages</h3>
                    <ul>
                        <li>HTML5 / CSS3</li>
                        <li>Javascript</li>
                        <li>React/ Redux</li>
                        <li>NodeJS</li>
                        <li>Loopback</li>
                        <li>MongoDB</li>
                    </ul>
                </div>
                <div class='sub-section'>
                    <h3>Work History</h3>
                    <ul>
                        <li>Google</li>
                        <li>Advanced Brain Monitoring</li>
                        <li>Apple</li>
                    </ul>
                </div>
                <div class='sub-section' id='hide'>
                    <h3>Interests</h3>
                    <ul>
                        <li>Travel</li>
                        <li>Board Games</li>
                        <li>Kickboxing</li>
                        <li>Mediation</li>
                        <li>Culinary Exploration</li>
                    </ul>
                </div>
            </div>
            <div class='icons-footer'>
                <a class='icons' href="https://github.com/tianahayden" target="_blank"><i class="fab fa-github"></i></a>
                <a class='icons' href="https://www.linkedin.com/in/tianahayden/" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</body>

</html>