<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    <link rel="stylesheet" href="projects.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    <title>Projects</title>
</head>

<body>
    <div class='container'>
        <div class='back-image'></div>
        <div class='left'>
            <h1>Tiana Hayden</h1>
            <a class='not-selected' href='/'>Home</a>
            <a class='selected' href='/projects'>Projects</a>
            <a class='not-selected' href='resume.pdf' target='_blank'>Resume</a>
            <a class='not-selected' href='/contact'>Contact</a>
        </div>
        <div class='line'></div>
        <div class='right'>
            <div class='section-1'>
                <h1>My Projects</h1>
                <div class='project-1'>
                    <div class='project-text'>
                        <h2>Food Faceoff</h2>
                            <p>Built in React</p>
                            <p>Called 3 open source APIs</p>
                            <p>Styled using Styled Components in React</p>
                        <a class='button-project' href="https://tmh-foodfaceoffhackathon.herokuapp.com/" target="_blank">Try
                            It</a>
                    </div>
                    <div class='project-image'>
                        <img src="Foodfaceoff.png" alt="food_faceoff_project">
                    </div>
                </div>
                <div class='project-1'>
                        <div class='project-text'>
                            <h2>Food Faceoff</h2>
                                <p>Built in React</p>
                                <p>Called 3 open source APIs</p>
                                <p>Styled using Styled Components in React</p>
                            <a class='button-project' href="https://tmh-foodfaceoffhackathon.herokuapp.com/" target="_blank">Try
                                It</a>
                        </div>
                        <div class='project-image'>
                            <img src="Foodfaceoff.png" alt="food_faceoff_project">
                        </div>
                    </div>
            </div>
            <div class='icons-footer'>
                <a class='icons' href="https://github.com/tianahayden" target="_blank"><i class="fab fa-github"></i></a>
                <a class='icons' href="https://www.linkedin.com/in/tianahayden/" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </div>
    </div>
</body>

</html>