<!DOCTYPE html>
<html>

<head>
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<meta http-equiv='X-UA-Compatible' content='ie=edge'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:300' rel='stylesheet'>
	<link rel='stylesheet' href='projects.css'>
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.4.1/css/all.css' integrity='sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz'
	 crossorigin='anonymous'>
	<title>Projects</title>
</head>

<body>
	<div class='container'>
		<div class='back-image'></div>
		<div class='left'>
			<h1>Tiana Hayden</h1>
			<a class='not-selected' href='/'>Home</a>
			<a class='selected' href='/projects'>Projects</a>
			<a class='not-selected' href='TianaHaydenResume.pdf' target='_blank'>Resume</a>
			<a class='not-selected' href='/contact'>Contact</a>
		</div>
		<div class='line'></div>
		<div class='right'>
			<div class='section-1'>
				<h2>My Projects</h2>
				<div class='project-1'>
					<div class='project-text'>
						<h3>SDJS Meetup</h3>
						<p>Built application that allows the San Diego Javascript Meetup admins to organize, manage and facilitate community speaker requests. </p>
					<ul>
						<li>Built custom Loopback remote methods that allows admin to change talk approval status, add speaker notes and edit talk content. </li>
						<li>Utilized MongoDB as data source for talks, speakers, and events. </li>
						<li>Built the front-end in React using Redux, React Router and SCSS. </li>
					</ul>
					</div>
					<div class='project-image'>
						<img src='TalksPage.png' alt='sdjs_project'>
					</div>
				</div>
				<div class='project-1'>
					<div class='project-text'>
						<h3>Spacebox</h3>
						<p>Collaborated with a team of 8 engineers to build an online interactive jukebox using Spotify Web API.</p>
					<ul>
						<li>Converted existing API endpoints from Express to custom Loopback remote methods. </li>
						<li>Utilized Socket.IO to broadcast song information to all receiving clients.</li>
						<li>Created tests
							using Mocha and Chai to ensure site functionality in future iterations.</li>
					</ul>
					</div>
					<div class='project-image'>
						<img src='Spacebox.png' alt='spacebox_project'>
					</div>
				</div>
				<div class='project-1'>
					<div class='project-text'>
						<h3>Movie Finder</h3>
						<p>Built an application that allows users to search for movie information using the Open Movie Database.</p>
						<ul>
							<li>Created Express server to deploy the OMDB API call. </li>
							<li>
								Built front end in React using Redux and React Router and styled in SCSS.</li>
						</ul>
						<div class='project-link'>
						<a href='https://tmh-react200moviefinder.herokuapp.com/#/' target='_blank'>Try It
						</a>
					</div>
					</div>
					<div class='project-image'>
						<img src='movie-finder.png' alt='movie_finder_project'>
					</div>
				</div>
				<div class='project-1'>
					<div class='project-text'>
						<h3>Food Faceoff</h3>
						<p>In 72 hours, I created a site that compares how much of one food you can eat compared to another.</p>
						<ul>
							<li>Called an open source nutrition database, generated images based on the user’s search, and displayed calories using Google Charts.</li>
							<li>Built in React with Styled Components.</li>
						</ul>
						<div class='project-link'>
						<a href="https://tmh-foodfaceoffhackathon.herokuapp.com/" target="_blank">Try It
						</a>
					</div>
					</div>
					<div class='project-image'>
						<img src="Foodfaceoff.png" alt="food_faceoff_project">
					</div>
				</div>
				<div class='icons-footer'>
					<a class='icons' href='https://github.com/tianahayden' target='_blank'><i class='fab fa-github'></i></a>
					<a class='icons' href='https://www.linkedin.com/in/tianahayden/' target='_blank'><i class='fab fa-linkedin'></i></a>
				</div>
			</div>
		</div>
	</div>
</body>

</html>