<html>
  <head>
    <title>Thank You</title>
  </head>
  <body>
    <div>
      Thank you <%= contact.firstName %> <%= contact.lastName %>. An email has been sent to Tiana.
    </div>
  </body>
</html>