/* Index */

.container {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    color: #564a4a;
}

.left {
    width: 20vw;
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 2vw;
    line-height: 25px;
    position: fixed;
}

.left a {
    text-decoration: none;
    color: #a2a0a0
}

.left .not-selected:hover {
    text-decoration: underline;
    color: #615b5b;
}

.left .selected {
    color: #615b5b;
}

.left .selected:hover {
    text-decoration: none;
}

h1 {
    letter-spacing: 1px;
    text-shadow: 1px 1px #e0dbdb;
}

h3 {
    letter-spacing: 2px;
    text-shadow: 1px 1px #e0dbdb;
    text-align: center;
}

p, ul {
    list-style-type: square;
}

.back-image {
    height: 100vh;
    width: 30vw;
    background-image: url("tiana.png");
    background-size: 30vw;
    background-repeat: no-repeat;
    background-position: left bottom;
    position: fixed;
    opacity: 0.5;
    z-index: -1;
}

.line {
    height: 80vh;
    width: 2px;
    background-image: linear-gradient(lightgray, white);
    margin-left: 25vw;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
    margin: 1vw;
}

.section-1 {
    margin: 20px auto;
}

.section-1 h1 {
    text-align: center;
}

.icons-footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
}

.icons {
    font-size: 2em;
    color: #9c9090;
    margin: 10px;
}

.fab:hover {
    opacity: 0.8;
    color: #564a4a
}

/* Projects */

.project-1 {
    display: flex;
    margin: 50px;
    flex-direction: column;
    align-items: center;
}

img {
    width: 50vw;
    border: 1px solid #9c9090;
    box-shadow: 3px 3px #e2e0e0;  
    margin: 20px;
}

h2 {
    text-align: center;
    letter-spacing: 2px;
}

.project-link {
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
}

@media only screen and (max-width: 1000px) {
    .container {
        display: inherit;
    }
    
    .back-image {
        opacity: 0;
    }

    .left {
        width: auto;
        display: inherit;
        text-align: center;
        line-height: inherit;
        position: inherit;
    }

    a {
        padding: 10px;
    }

    .line {
        height: 5px;
        width: 100vw;
        animation-name: inherit;
        -webkit-animation-name: inherit;
        color:#564a4a;
        margin: 0;
    }

    .right {
        display: inherit;
        width: auto;
        margin: auto;
    }

    .section-1 {
        margin: 50px;
    }

    .project-1 {
        margin: auto;
    }

    img {
        width: 80vw;
    }

    .icons-footer {
        position: inherit;
        text-align: center;
        display: inherit;
    }
}