* {
    box-sizing: border-box;
  }

.container {
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.left {
    width: 30vw;
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 2vw;
}

h1 {
    opacity: 0;
    -webkit-animation-name: fadein; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: fadein;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

h3 {
    opacity: 0;
    -webkit-animation-name: fadein; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 0.5s;
    animation-name: fadein;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

p, ul {
    opacity: 0;
    -webkit-animation-name: fadein; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 1s;
    animation-name: fadein;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

a {
    opacity: 0;
    -webkit-animation-name: fadein; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 1s;
    animation-name: fadein;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.back-image {
    height: 100vh;
    width: 30vw;
    background-image: url("tiana.png");
    background-size: 30vw;
    background-repeat: no-repeat;
    background-position: left bottom;
    position: fixed;
    opacity: 0.5
}

.line {
    height: 80vh;
    width: 2px;
    background-image: linear-gradient(lightgray, white); 
}

.right {
    margin: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
    height: 100vh;
}

.section-1 {
    text-align: center;
}

.section-2 {
    display: flex;
    justify-content: center;
}

.icons-footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

.icons {
    font-size: 2em;
    color: lightgray;
    margin: 1vw;
}

.fab:hover {
    opacity: 0.8;
}

@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
}

@-webkit-keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
}


