* {
    box-sizing: border-box;
  }

html,body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #30415D;
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    width: 30vw;
    border: 1px solid gray;
    margin: 10px;
    padding: 10px;
}

textarea {
    height: 30vh;
}

.form {
    display: flex;
    justify-content: center;
}

h1 {
    margin-top: 40px;
    text-align: center;
}

.button {
    background-color: #fce1e0;
    width: 30vw;
    border: 1px #30415D solid;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 10px;
}

.navbar {
    background-color: #fce1e0;
    display: flex;
    justify-content: space-evenly;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

button {
    background-color: #031424;
    color:#fce1e0;
    font-size: 20px;
    width: 34vw;
    height: 10vh;
    border: 1px #fce1e0 solid;
}