* {
    box-sizing: border-box;
  }

.container {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    color: #564a4a;
}

.left {
    width: 30vw;
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 2vw;
    line-height: 25px;
}

.left a {
    text-decoration: none;
    color: #a2a0a0
}

.left .not-selected:hover {
    text-decoration: underline;
    color: #615b5b;
}

.left .selected {
    color: #615b5b;
}

.left .selected:hover {
    text-decoration: none;
}

h1 {
    opacity: 0;
    letter-spacing: 1px;
    text-shadow: 1px 1px #e0dbdb;
    -webkit-animation-name: fadein; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: fadein;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

h3 {
    opacity: 0;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 1px 1px #e0dbdb;
    -webkit-animation-name: fadein; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 0.5s;
    animation-name: fadein;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

p, ul {
    opacity: 0;
    list-style-type: square;
    -webkit-animation-name: fadein; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 1s;
    animation-name: fadein;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

a {
    opacity: 0;
    -webkit-animation-name: fadein; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 1s;
    animation-name: fadein;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.back-image {
    height: 100vh;
    width: 30vw;
    background-image: url("tiana.png");
    background-size: 30vw;
    background-repeat: no-repeat;
    background-position: left bottom;
    position: fixed;
    opacity: 0.5;
    z-index: -1;
}

.line {
    height: 0vh;
    width: 2px;
    background-image: linear-gradient(lightgray, white);
    -webkit-animation-name: line; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 1s;
    animation-name: line;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards; 
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
    height: 100vh;
}

.section-1 {
    text-align: center;
    width: 40vw;
    margin: 20px auto;
}

.section-2 {
    display: flex;
    justify-content: center;
}

.sub-section {
    width: 10vw;
    margin: 10px;
}

.icons-footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.icons {
    font-size: 2em;
    color: #9c9090;
    margin: 10px;
}

.fab:hover {
    opacity: 0.8;
    color: #564a4a
}

@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
}

@-webkit-keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes line {
    from {height: 0vh}
    to {height: 80vh}
}

@-webkit-keyframes line {
    from {height: 0vh}
    to {height: 80vh}
}


